body {
background-color: rgba(255, 255, 255);

}

.boxed {
  
  height: 100px;
  width: 310px;
  padding: 50px;

} 

.icon-bar {
    margin: -20px;
    width: 102%; 
    height:7.5%;
    background-color: black; 
    overflow: auto; 
}

.icon-bar a {
    float: left; 
    text-align: center; 
    width: 25%; 
 
    transition: all 0.3s ease; 
    color: black; 
}

.icon-bar a:hover {
    background-color: #000; 
}